    .upload-demo { display: none; }



    .upload-demo img { width: 100px; }



    #imgval { overflow: hidden; }



    small.cust-to-sup { font-size: small; font-style: italic; }

    

    .upload-error {

        display: block;

        color: red;

        font-size: 15px;

    }



    @media screen and (min-width: 1024px) {

      .job-details.mobile {

          display: none;

      }

      .job-handy.mobile {

          display: none;

      }

    }



    @media screen and (max-width: 1024px) {

      .job-details.mobile {

          display: block;

      }



      .job-details.desktop {

          display: none;

          padding-top: 0px !important;

      }

    }



    span.showcamera i {

      font-size: 20px;

      margin: 10px;

    }



    input.form-control.imageupload {

      background: #fff none repeat scroll 0 0;

      float: left;

      font-size: 15px;

      font-weight: 400;

      margin-bottom: 10px;

      padding: 19px 28px;

      font-family: 'Lato', sans-serif;

      border: 2px solid #c9c9c9;

      display: block;

    }



    .showanswer a {

      float: left;

      background: #fff;

      border-right: 2px solid #cdcdcd;

      color: #141414;

      margin-left: 0;

      margin: 0px;

      padding: 15px 9px 0px 12px !important;

      font-size: 30px;

      border-left: 2px solid #cdcdcd;

      border-top: 2px solid #cdcdcd;

      border-bottom: 2px solid #cdcdcd;

      outline: none;

      margin-top: 0px !important;

      width: auto !important;

    }



    .showanswer a:hover {

      float: left;

      background: #fff;

      border-right: 2px solid #cdcdcd;

      color: #141414;

      margin-left: 0;

      margin-top: 20px;

      margin: 0px;

      padding: 15px 9px 0px 12px;

      font-size: 30px;

      border-left: 2px solid #cdcdcd;

      border-top: 2px solid #cdcdcd;

      border-bottom: 2px solid #cdcdcd;

      outline: none;

    }



    .filelabels {

      padding-top: 10px;

      width: 40%;

      float: left;

    }



    .js .inputfile {

      width: 0.1px;

      height: 0.1px;

      opacity: 0;

      overflow: hidden;

      position: absolute;

      z-index: -1;

    }



    .inputfile-5:focus + label,

    .inputfile-5.has-focus + label,

    .inputfile-5 + label:hover {

      color: #f2ae00;

    }



    .box label {

      width: auto;

      float: left;

      display: block;

    }



    @media screen and (max-width: 50em) {

      .inputfile-6 + label strong {

        display: block;

      }

    }



    .box label figure i {

      font-size: 35px;

    }



    .box label:before {

      display: none;

      background: #fff;

    }



    .box {

      background: #fff;

      margin-top: 15px;

      padding-top: 10px;

      width: 30%;

      float: left;

    }



    img.portimg {

      max-width: 200px;

      max-height: 200px;

    }



    .upload-demo.col-lg-12 {

      margin-top: 18px;

    }



    .upload-demo.col-lg-12 button {

        background: #f2ae00;

        font-size: 15px !important;

        font-family: inherit;

    }



    .ma5slider {

        overflow: hidden;

    }

    

    .add-to-cart {

      float: left; font-size: 15px; background: #f2ae00; border: 1px solid #f2ae00; color: #ffffff !important; padding: 8px 15px; line-height: 20px; margin: 10px 0; margin:4px 0 !important; margin-left: 0; margin-top: 20px;width: auto !important;cursor: pointer;

    }



    .add-comment {

      margin-left: 15px; background: #323232; border: 1px solid #323232; padding: 8px 15px; line-height: 20px; margin-top: 20px; color: #ffffff; float: left; font-size: 15px;display: none;

    }



    .error {

        color: red;

        text-align: left;

        margin-bottom: 12px;

    }



    .show-quantity em {

      display: block; 

      margin-bottom: 5px; 

      margin-top: 10px; 

      font-style: italic; 

      color: #424242; 

      font-size: 15px;

    }



    .form-group2 {

      width: 100%;

      margin:20px 0 5px 0;

    }

    .form-group2 .glyphicon {

      color: #323232;

    }



    .form-group2 .btn {

        padding: 4px 12px !important;

        border: 0;

        border-radius: 0;

        font-size: 18px !important;

    }



    .mynu{ 

      width: 40px !important;

        padding: 6px 10px 6px 20px !important;

        border: none !important;

        background: #e4e4e4 !important;

    }



    .bgd8{

      background-color: #4CAF50 !important;

    }



    [data-prc] {

        margin-left: 7px;

    }



    textarea { min-height: auto !important; width: 100%; }



    input[type="radio"] { display: none; } 



    .sub-options {

        padding-left: 20px;

        padding-top: 20px;

    }



    .sub-question { display: block;  }

    .sub-question {

        display: block;

        text-align: left;

        font-size: 22px;

        color: #f2ae00;

        margin-bottom: 5px;

    }



    .ques.handyman_sub_option_quantity {

        display: flex;

    }



    .nums .button {

      transform: scale(0.9);

      position: relative;

        top: -1px;

    }



    .menu-sec{

      box-shadow: 2px 2px 6px #bdbdbd;

      border-bottom: 2px solid #f7f7f7;

    }



    .nums .button:last-child { margin-left: 0px; }



    /*[type="radio"] { display: initial !important;  }*/



    label {

        padding-left: 35px !important;



    }



    /*.sub-options.nums.numbers-row {display: flex;margin: 0px;margin-left: 10px;}*/



    .sub-options { display: none; }



    /*.has_sub_option .sub-options { display: none !important; }*/



    





    /*.account-popup-area { display: block !important; }*/



    /* .handyman-sub-group .ybs-title.ybs8 .subheader {

        font-size: 12px !important;

    }



    .handyman-sub-group .ybs-value {

            font-size: 14px !important;

          text-align: right !important;

          padding-top: 8px;

          padding-left: 5px;

    } */



    small.material-price {

        margin-left: 5px;

        position: relative;

        top: -2px;

        background-image: linear-gradient(180deg,#4caf50,#409444 90%);

        color: white;

        border-radius: 5px;

        padding: 2px 10px;

        font-size: 10px;

    }

    /*@media (min-width: 320px) and (max-width: 1024px) {

      .hdm-mb-hide2{
       display: none;
      }

      .hdm-mb-hide{
       display: none;
      }
    }
    @media (min-width: 1025px) and (max-width: 4000px) {
      .hdm-dk-hide{
       display: none;
      }

    }*/

    